<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<title tiles:fragment="title">Phones book</title>
<script src="/webjars/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
<script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/main.js" type="text/javascript"></script>
<link href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link href="/css/phones.css" rel="stylesheet" media="screen" />
</head>
<body>
<div class="container">
<div>
<a type="button" class="btn btn-default pull-right" href="/logout">Logout</a>
</div>
<h2 th:text="${userName}+'&acute;s phone book'">Phone book</h2>
</div>
	<div class="container">
	<div class="input-group"> 
	<span class="input-group-addon">Filter</span>
    <input id="filter" type="text" class="form-control" placeholder="Type here First name, Last name or mobilephone..."/>
	</div>
		<table class="table table-bordered">
	<tr>
		<th>Last Name</th>
		<th>First Name</th>
		<th>Patronymic</th>
		<th>Mobilephone</th>
		<th>Homephone</th>
		<th>Address</th>
		<th>e-mail</th>
		<th>Action</th>
	</tr>	
			<tr class="search" th:each="phone : ${phones}" >

				<td th:text="${phone.lastname}" class="searchable">lastname</td>
				<td th:text="${phone.firstname}" class="searchable">firstname</td>
				<td th:text="${phone.patronymic}">patronymic</td>
				<td th:text="${phone.mobilephone}" class="searchable">mobilephone</td>
				<td th:text="${phone.homephone}">homephone</td>
				<td th:text="${phone.address}">address</td>
				<td th:text="${phone.email}">email</td>
				<td>
				<a th:href="${'/phone/delete/' + phone.id}" class="btn btn-default pull-right">Delete</a>
				<a th:id="${phone.id}" type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal">Edit</a>
				</td>
			</tr>
			
		</table>
		<a id="add_row" type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal2">Add Phone</a>
	</div>
	
	<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Phone edit</h4>
      </div>
      <div class="modal-body">
      <div class="container">
      	<form class="form-horizontal" id="new-phone" role="form" th:action="@{/phone/update}" method="post" th:object="${newPhone}">
      	<fieldset>
        		<div class="form-group">
          		<label class="col-xs-3 control-label" for="lastname">Last Name</label>
          		<div class="col-xs-5">
        		<input id="lastname" th:field="${newPhone.lastname}"/>
        		</div>
        		</div>
        		<div class="form-group">
          		<label class="col-xs-3 control-label" for="firstname">First Name</label>
				<div class="col-xs-5">
				<input id="firstname" th:field="${newPhone.firstname}"/>
				</div>
				</div>
				<div class="form-group">
          		<label class="col-xs-3 control-label" for="patronymic">Patronymic</label>
				<div class="col-xs-5">
				<input id="patronymic" th:field="${newPhone.patronymic}"/>
				</div>
				</div>
				<div class="form-group">
          		<label class="col-xs-3 control-label" for="mobilephone">Mobilephone</label>
				<div class="col-xs-5">
				<input id="mobilephone" th:field="${newPhone.mobilephone}"/>
				</div>
				</div>
				<div class="form-group">
          		<label class="col-xs-3 control-label" for="homephone">Homephone</label>
          		<div class="col-xs-5">
				<input id="homephone" th:field="${newPhone.homephone}"/>
				</div>
				</div>
				<div class="form-group">
          		<label class="col-xs-3 control-label" for="address">Address</label>
          		<div class="col-xs-5">
				<input id="address" th:field="${newPhone.address}"/>
				</div>
				</div>
				<div class="form-group">
          		<label class="col-xs-3 control-label" for="email">e-mail</label>
          		<div class="col-xs-5">
				<input id="email" th:field="${newPhone.email}"/>
				</div>
				</div>
				<input class="hidden" id="id" th:field="${newPhone.id}"/>
				<input class="hidden" id="user_id" th:field="${newPhone.user_id}"/>
				</fieldset>

		</form>
		</div>
      </div>
      <div class="modal-footer">
      	<button id="edit" class="btn btn-default">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Phone edit</h4>
      </div>
      <div class="modal-body">
      <div class="container">
      	<form class="form-horizontal" id="save-phone" role="form" th:action="@{/phone/save}" method="post" th:object="${newPhone}">
      	<fieldset>
        		<div class="form-group">
          		<label class="col-xs-3 control-label" for="lastname">Last Name</label>
          		<div class="col-xs-5">
        		<input id="lastname" th:field="${newPhone.lastname}"/>
        		</div>
        		</div>
        		<div class="form-group">
          		<label class="col-xs-3 control-label" for="firstname">First Name</label>
				<div class="col-xs-5">
				<input id="firstname" th:field="${newPhone.firstname}"/>
				</div>
				</div>
				<div class="form-group">
          		<label class="col-xs-3 control-label" for="patronymic">Patronymic</label>
				<div class="col-xs-5">
				<input id="patronymic" th:field="${newPhone.patronymic}"/>
				</div>
				</div>
				<div class="form-group">
          		<label class="col-xs-3 control-label" for="mobilephone">Mobilephone</label>
				<div class="col-xs-5">
				<input id="mobilephone" th:field="${newPhone.mobilephone}"/>
				</div>
				</div>
				<div class="form-group">
          		<label class="col-xs-3 control-label" for="homephone">Homephone</label>
          		<div class="col-xs-5">
				<input id="homephone" th:field="${newPhone.homephone}"/>
				</div>
				</div>
				<div class="form-group">
          		<label class="col-xs-3 control-label" for="address">Address</label>
          		<div class="col-xs-5">
				<input id="address" th:field="${newPhone.address}"/>
				</div>
				</div>
				<div class="form-group">
          		<label class="col-xs-3 control-label" for="email">e-mail</label>
          		<div class="col-xs-5">
				<input id="email" th:field="${newPhone.email}"/>
				</div>
				</div>
				<input class="hidden" id="user_id" th:field="${newPhone.user_id}"/>
				</fieldset>

		</form>
		</div>
      </div>
      <div class="modal-footer">
      	<button id="add" class="btn btn-default">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</body>
</html>